.nav {
  position: absolute;
  top: 12vh;
  margin: auto;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 0.75vw;
  color: #fc6d6d;
  font-weight: 600;
  letter-spacing: 0.5vh;
  margin: 3vh;
}

.nav-link:hover {
  color: #eb5555;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
